Acute Accent

Hey Guys

I am new to this platform so hopefully I am even in the right sphere. I am running an internet station in Toronto using Rivendell as out Automation System, MusicOne Scheduler and SecureNet Systems as our Stream Provider, thanks to Drew Roberts our on-air operation is flawless. However some of the new artist we're playing are Africans with Acute Accent in their names.
For example one of the artist we play's name is DaShawn Shauntá but when the name shows up on the SecureNet system, this is how it displays DaSHAWN SHAUNT??
I submitted a support ticket to SecureNet to see if the issue was with them, and this is how they replied
As long as Rivendell passes through the "á", Cirrus Console is expected to process that properly and send it to our systems without replacing it with question marks. If you have verified that your Rivendell installation can export accented characters to Cirrus Console, let us know and we will investigate further.

My question is, has anyone ever had a issue with an artist with an Acute Accent in their name? and if so is there a fix in Rivendell for this issue?
Let me know

VonRoy Gee
President/CEO
J3V’ON Media + Entertainment Inc.

https://rdo.to/IKJZ


What version of Rivendell is this, running on what platform?

Running V3.2.0 here's a screenshot of the message I am getting from Rivendell 

![SHOPE](https://user-images.githubusercontent.com/69877032/90689446-1a945580-e23e-11ea-86d0-8fdea394ff9d.jpg)




Centos 7


Hmm. Lot's of places where this could be going wrong.

First, do you have any of the actual strings that were transmitted (not merely graphical screenshots)? That will let us rule out font rendering issues on the receiving platform. 

I have the actual mp3 audio file on my laptop which was produced in Adobe Audition 2020 then transferred via TightVNC to Rivendell
Let me know if this information answer the question





C:\Users\vonro\Desktop\DaSHAWN SHAUNTÁ - LOVE.mp3
DaSHAWN SHAUNTÁ

DaSHAWN SHAUNT\ufffd - LXXVE
This is copied after the transfer to Rivendell


The title LXXVE is correct

Can you email me a copy of the original MP3?

Hi Fred

Just send.

Hello Guys
I was wondering if you were able to look into this Acute Accent issue with Rivendell to see if there is a fix for it. Let me know 

Thanks
VG

[](url)

'Kay, I finally got a chance to look into this a bit further. 

I received the MP3, thank you! It imports properly into Rivendell v3.4.1 (including the acute accent in 'DaSHAWN SHAUNTÁ'. So those parts are working as expected.

What PyPAD plug-in are you using to transmit the updates to the Cirrus Console? Please post the config for that plug-in (from RDAdmin->ManageHosts->PyPAD Instances). Be sure to redact any sensitive info --e.g. IP addresses.

Okay this is what I got.

old server as commented below
; [Udp1]
; IpAddress=192.168.2.17
; UdpPort=2003
; FormatString=%n|%g|%h|%t|%a|%l|%y|%y%r
; MasterLog=yes
; Aux1Log=yes
; Aux2Log=yes
; 

; This is the sample configuration for the 'pypad_udp.py' PyPAD script for 
; Rivendell, which can be used to output Now & Next data to one or more
; remote UDP ports.

; Section Header
;
; One section per remote UDP port is configured, starting with 'Udp1' and 
; working up consecutively
[Udp1]

; IP Address
;
; The IP address of the remote UDP port, in dotted-quad notation.
; IpAddress=127.0.0.1
IpAddress=192.168.2.17

; UDP Port
;
; The UDP port number of the remote UDP port, in the range 0 - 65,535.
; UdpPort=1234
UdpPort=2004

; Format String.  The string to be output each time RDAirPlay changes
; play state, including any wildcards as placeholders for metadata values.
;
; The list of available wildcards can be found in the 'metadata_wildcards.txt'
; file in the Rivendell documentation directory.
;
; FormatString=NOW: %d(ddd MMM d hh:mm:ss yyyy): %t - %a\nNEXT: %D(ddd MMM d hh:mm:ss yyyy): %T - %A\n
FormatString=%n|%g|%h|%t|%a|%l|%y|%y%r

; Encoding.  Defines the set of escapes to be applied to the PAD fields.
; The following options are available:
;
;  0 - Perform no character escaping.
;  1 - "XML" escaping: Escape reserved characters as per XML-v1.0
;  2 - "Web" escaping: Escape reserved characters as per RFC 2396 Section 2.4
Encoding=0

; Null Update Handling.  Defines how 'null' updates --i.e. those with a cart
; number of '0' -- should be handled.
;
;  0 - Process all updates regardless of cart values.
;  1 - Process update only if the 'now' cart is not null.
;  2 - Process update only if the 'next' cart is not null.
;  3 - Process update only if both the 'now' and 'next' carts are not null.
ProcessNullUpdates=0

; Log Selection
;
; Set the status for each log to 'Yes', 'No' or 'Onair' to indicate whether
; state changes on that log should be output on this udp port.  If set
; to 'Onair', then output will be generated only if RDAirPlays OnAir flag
; is active.
MasterLog=Yes
Aux1Log=Yes
Aux2Log=Yes
VLog101=No
VLog102=No
VLog103=No
VLog104=No
VLog105=No
VLog106=No
VLog107=No
VLog108=No
VLog109=No
VLog110=No
VLog111=No
VLog112=No
VLog113=No
VLog114=No
VLog115=No
VLog116=No
VLog117=No
VLog118=No
VLog119=No
VLog120=No


; Additional UDP destinations can be configured by adding new sections...
;[Udp2]
;FormatString=Artist: %a%r
;FormatString=%n|%g|%h|%t|%a|%l|%y|%y%r
;IpAddress=192.168.10.22
;IpAddress=192.168.2.17
;UdpPort=6789
;UdpPort=2003
;ProcessNullUpdates=0
;MasterLog=Yes
;Aux1Log=Yes
;Aux2Log=Yes
;VLog101=No
;VLog102=No
;VLog103=No
;VLog104=No
;VLog105=No
;VLog106=No
;VLog107=No
;VLog108=No
;VLog109=No
;VLog110=No
;VLog111=No
;VLog112=No
;VLog113=No
;VLog114=No
;VLog115=No
;VLog116=No
;VLog117=No
;VLog118=No
;VLog119=No
;VLog120=No


> Okay this is what I got.
> [...]
> ; This is the sample configuration for the 'pypad_udp.py' PyPAD script for
; Rivendell, which can be used to output Now & Next data to one or more
; remote UDP ports.

So, assuming you're using the  'pypad_udp.py' plug-in.

Tested here (on v3.4.1), and it sends 'DaSHAWN SHAUNTÁ' as expected (including the 'Á'). Your problem is downstream (either at the streaming provider, or perhaps in one or more client players).

Currently us V3.2.0 could that be the issue?

Looking through 'ChangeLog', I don't see any modifications to the 'pypad_udp' plug-in, nor to the overall PyPAD system, so it seems unlikely that a Rivendell update would help here.
